%table
  %tr
    - @products.each do |product|
      %td
        %tr
          = product.title
        %tr
          - product.books.uniq.each do |book|
            %p
              Имя:
              = book.name
            %p
              Коммент:
              = book.comment

            - book.reservations.each do |reservation|
              = time_cell(reservation.time, 0)
              %br
