if ($('#book tr').length == 1) { $('#book').show('blind', 1000); }

$('#book').html("#{j render(@book)}");

$('#current_item').css({'background-color':'#88ff88'})
	.animate({'background-color':'#114411'}, 1000);